{% extends "base.html" %}
{% block content %}

<h2>目標設定</h2>

<div class="container mt-3">

    {% if goal %}
        <!-- 目標が登録済みの場合 -->
        <div class="p-3 mb-3">

            <h4>{{ goal.title }}</h4>

            <p>
                目標金額：<strong>{{ goal.target_amount }} 円</strong><br>
                現在の貯金：<strong>{{ goal.current_amount }} 円</strong><br>

                {% if goal.deadline_at %}
                    期限：{{ goal.deadline_at.strftime('%Y-%m-%d') }}
                {% else %}
                    期限：設定なし
                {% endif %}
            </p>
            <div class="d-flex justify-content-between">
                <a href="{{url_for('top.input_menu_page')}}" class="btn">キャンセル</a>
                <a href="{{ url_for('goal.create') }}" class="btn btn-primary mt-2">目標を編集する</a>
            </div>

        </div>

    {% else %}
        <!-- 目標が未登録の場合 -->
        <div class="alert alert-info text-center">
            現在、設定されている目標はありません。
        </div>

        <a href="{{ url_for('goal.create') }}" class="btn btn-success w-100">
            新しく目標を設定する
        </a>

    {% endif %}

</div>

{% endblock %}
