{% extends "base.html" %}
{% block content %}

<form method="POST">

<!--サイドバー-->
  <div class="wrapper">
  <input type="checkbox" id="menuToggler" class="input-toggler" value="1" autofocus="true"/>
  <label for="menuToggler" id="menuTogglerLabel" class="menu-toggler" role="button" aria-pressed="false" aria-expanded="false" aria-label="Navigation button">
    <span class="menu-toggler__line"></span>
    <span class="menu-toggler__line"></span>
    <span class="menu-toggler__line"></span>
  </label>
  <nav id="sidebar" class="sidebar" role="navigation" aria-labelledby="menuTogglerLabel" aria-hidden="true">
    <ul id="menubar" class="menu" role="menubar" aria-orientation="vertical">
      <a>メニュー</a>
      <li class="menu__item" role="none"><a class="menu__link" href="#" role="menuitem" tabindex="-1">入力</a></li>
      <li class="menu__item" role="none"><a class="menu__link" href="#" role="menuitem" tabindex="-1">閲覧</a></li>
      <li class="menu__item" role="none"><a class="menu__link" href="#" role="menuitem" tabindex="-1">カレンダー</a></li>
      <a>設定</a>
      <li class="menu__item" role="none"><a class="menu__link" href="#" role="menuitem" tabindex="-1">アカウント設定</a></li>
      <li class="menu__item" role="none"><a class="menu__link" href="#" role="menuitem" tabindex="-1">ログアウト</a></li>
    </ul>
  </nav>
  </div>

  <!--お知らせボタン-->
  <button type="submit" name="notify">お知らせ</button>
  <!--今週の残金表示-->
  <p>今週の残金<br>{{ balance }}</p>
  <!--残金のグラフ表示-->
  <img src="{{ filename }}" alt="残金のグラフ">
  <!--貯金の達成度の表示-->
  <p>貯金の達成度<br>{{ current_amount }}</p>
</form>
<!--目標の設定画面に飛ぶリンク-->
<p><a href="{{ url_for('goal.goal') }}">目標の設定画面へ</a></p>


{% endblock %}
