{% extends "base.html" %}
{% block title %}収入の入力{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h2>収入の入力</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    <!-- 日付 -->
    <div class="mb-3">
        <label for="dateField" class="form-label">日付：</label>
        {{ form.date(class="form-control", id="dateField") }}
        {% for error in form.date.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <!-- 金額 -->
    <div class="mb-3">
        <label for="amountInput" class="form-label">収入額：</label>
        {{ form.amount(class="form-control", id="amountInput") }}
        {% for error in form.amount.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <!-- メモ -->
    <div class="mb-3">
        <label for="memoField" class="form-label">メモ：</label>
        {{ form.memo(class="form-control", id="memoField") }}
        {% for error in form.memo.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>

    <!-- ボタン -->
    <div class="button-row">
        <button type="button" class="btn btn-secondary"
            onclick="location.href='{{ url_for('top.input_menu_page') }}'">キャンセル</button>

        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
<script>
    const hiddenCategory = document.getElementById("category_id");
    const categoryPills = document.querySelectorAll(".category-pill");

    categoryPills.forEach(pill => {
        pill.addEventListener("click", () => {
            hiddenCategory.value = pill.dataset.id;
            categoryPills.forEach(p => p.classList.remove("active"));
            pill.classList.add("active");
        });
    });
</script>
{% endblock %}
