{% extends "base.html" %}
{% block content %}
<main>
    <h2>収入の入力</h2>

    <form action="/income" method="post" class="form-box">

        <!-- 日付 -->
        <div class="row">
            <label for="date">日付：</label>
            <input id="date" type="text" name="date">
        </div>

        <!-- 収入額 -->
        <div class="row">
            <label for="income">収入額：</label>
            <input id="income" type="number" name="income">
        </div>

        <!-- カテゴリ -->
        <div class="row">
            <label for="category">カテゴリ：</label>
            <input id="category" type="text" name="category">
        </div>

        <!-- メモ（大きいエリア） -->
        <div class="row memo-row">
            <label for="memo">メモ：</label>
            <textarea id="memo" name="memo"></textarea>
        </div>

        <!-- ボタン -->
        <div class="button-area">
            <button type="reset">キャンセル</button>
            <button type="submit">確定</button>
        </div>
    </form>
</main>
{% endblock %}
