{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('notification.static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ url_for('notification.static', filename='css/notification.css')}}">
{% endblock%}

{% block content %}

  <body>
    <br>
    <h1>通知一覧</h1>
    <br><br>
        <table class="notification">
            <tr>
                <th>日付</th><th>詳細</th>
            </tr>
            <tr>
                <td>11/17</td><td>引き落とし日です！！</td>
            </tr>
            <tr>
                <td>11/18</td><td>給料日です！！</td>
            </tr>

            {% for n in notifications %}
            <tr>
                <td> {{ n.create_at }} </td><td> {{ n.detail }} </td>
            </tr>
            {% endfor %}
        </table>
      </div>
</body>


{% endblock %}